#project {
  text-align: center;
}



/* --------------------
project TITLE  
----------------------- */

#project .project-title{
  margin-bottom: 30px;
  text-align: center;
  display: block;
}

#project .project-title > span{
  color: #D9D9D9;
  background-color: white;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  text-align: center;
}

#project .project-title p{
max-width: 750px;
color: #000;
text-align: center;
font-size: 2.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: auto;
}

#project .project-title p > span{
  color: #4E49FF;
	background-image: -webkit-linear-gradient(60deg, #2958e7, #dc1eed);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 40s infinite linear;
}

@-webkit-keyframes hue {
  from { -webkit-filter: hue-rotate(0deg);}
  to { -webkit-filter: hue-rotate(-360deg);}
}
