/* --------------------
SELECTOR INPUT
----------------------- */


#project .project-title {
  text-align: center;
  display: block;
  max-width: 600px;
  margin: auto;
  margin-bottom: 30px;
}


.selector-wrapper{
  position: relative;
  left: -30px;
  display: flex;
  margin-bottom: 60px;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}
.selector{
  display: block;
  width: 100%;
  max-width: 250px;
  padding: 5px;
  border: solid black 6px;
  font-size: 12px;
  color: black;
  margin: 0px 20px;
  text-transform: uppercase;
  font-weight: bold;
  height: 50px;
}

.arrow{
  width: 80px;
  animation: wave 1s linear infinite; /* Imposta la durata dell'animazione e il tipo di animazione */
}



@keyframes wave {
  0%, 100% {
    transform: translateX(0); /* Nessuna traslazione all'inizio e alla fine */
  }
  50% {
    transform: translateX(20%); /* Traslazione verso destra al massimo a metà dell'animazione */
  }
}


@media only screen and (max-width: 600px) {
  .arrow{
    width: 50px;
  }
}
