/* --------------------
SELECTOR INPUT
----------------------- */

.selector-wrapper{
  margin-bottom: 60px;
}

select {
  display: inline-block;
  margin: auto;
  width: 100%;
  max-width: 400px;
  height: 45 px;
  padding: 5px;
  border: solid black 6px;
  font-size: 14px;
  color: black;
}
