/* MENU LINKS */
.navigation {
  margin: 0;
  margin-top: 10px;
}

.navigation a{
  margin-left: 15px;
}

.mobile-nagvigation{
  
}

.mobile-nagvigation i{
  font-size: 21px;
  color: rgb(0, 0, 0);
}

.canvas-navigation a{
}

