#about{
  font-family: 'Inter', sans-serif;
  background-color: rgb(239, 239, 239);
}

#about .wrapper{
  background-color: white;
  padding: 60px 20px;
}


/* --------------------
about IMAGE
----------------------- */

#about .img-container{
  margin: 20px;
}

#about img{
  width: 100%;
  border: solid black 6px;
}

@media only screen and (max-width: 755px) {
  .img_mobile {
    display: block;
  }
  .img_desktop{
    display: none;
  }
}

@media only screen and (min-width: 756px) {
  .img_mobile {
    display: none;
  }
  .img_desktop{
    display: block;
  }
}



/* --------------------
about TITLE  
----------------------- */

#about .about-title{
  margin-bottom: 30px;
}

#about .about-title > span{
  color: #D9D9D9;
  background-color: white;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

#about .about-title p{
max-width: 550px;
color: #000;
text-align: center;
font-size: 2.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: left;
}

#about .about-title p > span{
  color: #4E49FF;
	background-image: -webkit-linear-gradient(60deg, #2958e7, #dc1eed);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 40s infinite linear;
}

@-webkit-keyframes hue {
  from { -webkit-filter: hue-rotate(0deg);}
  to { -webkit-filter: hue-rotate(-360deg);}
}


#about .about-content {
  color: #000;
font-family: Inter;
font-size: 0.875rem;
font-style: normal;
font-weight: 500;
line-height: 1.5rem; /* 171.429% */
letter-spacing: 0.0875rem;
}

