/* LOGO  */
#logo{
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

#logo .icon{
  margin-right: 5px;
  height: 50px;
}

#logo i:hover{
  color: var(--secondary);
  transition: 1000ms;
}

#logo .text{
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  border: solid black 3px;
  border-radius: 40px;
  padding: 7px 20px;
  margin: 0px;
}

@media only screen and (max-width: 450px) {
  #logo .text{
    display: none;
  }
}

